{%extends 'miniblog/base.html'%}
{%block content%}
<div class="usuarios">
    <h2>Editar usuario</h2>
    <form method="post" action="{% url 'editar_usuario' usuario.id %}">
        {% csrf_token %}
        <label for="nombre_usuario">Nombre:</label>
        <input type="text" name="nombre_usuario" value="{{ usuario.nombre_usuario }}" required>
        <label for="contraseña">Contraseña:</label>
        <input type="password" name="contraseña" required>
        <div class="botones">
            <button type="submit">Guardar</button>
        </div>
    </form>
    <div class="botones">
        <a href="{% url 'lista_usuarios' %}">Volver a la lista de usuarios</a>
    </div>
</div>
{%endblock%}
