{%extends 'miniblog/base.html'%}
{%block content%}
<div class="usuarios">
    <h2>Usuarios</h2>
    <ul>
        {% for usuario in usuarios %}
        <li>
            <a href="{% url 'usuario' usuario.id %}">
                {{ usuario.username }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="botones">
        <a href="{% url 'crear_usuario' %}">Agregar Usuario</a>
    </div>
</div>
<div class="botones">
    <a href="{% url 'home' %}">Volver al inicio</a>
</div>
{%endblock%}
